<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
  <div class="wrapper">
    <header class="bg-light">
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">      
          {{#if loggedIn}}           
              <div class="navbar-nav">
                <a class="nav-link active homepage" aria-current="page" href="/">Home</a>
                <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
                <button type="button" class="btn btn-light" id="logout">Logout</button>
              </div>            
          {{else}}           
              <div class="navbar-nav">
                <a href="/" class="nav-link active" aria-current="page" >Home</a>
                <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
                <a class="nav-link active" aria-current="page" href="/login">Login</a>
              </div>
            
          {{/if}}             
    </nav>
    <div>
      <h1 class="d-inline-flex fs-1 shadow-lg p-3 mb-5 rounded blog-title">
        The Tech Blog 
      </h1>
    </div>
    </header>
    <main>
      {{{ body }}}
    </main>
  </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>